{% block content_body %}
 <h1>Autorização da Transação Cielo</h1>

{% if not transacao['codigo_erro'] %}
<b>Código de identificação do pedido (TID): </b> {{transacao['tid']}} <br />
<b>PAN do pedido (pan): </b> {{transacao['pan']}} <br />
<b>Número do pedido (numero): </b> {{transacao['pedido']}} <br />
<b>Valor do pedido (valor): </b> {{transacao['valor']}} <br />
<b>Moeda do pedido (moeda): </b> {{transacao['moeda']}} <br />
<b>Data e hora do pedido (data-hora): </b> {{transacao['data_hora']}} <br />
<b>Descrição do pedido (descricao): </b> {{transacao['descricao']}} <br />
<b>Idioma do pedido (idioma): </b> {{transacao['idioma']}} <br />
<b>Bandeira (bandeira): </b> {{transacao['bandeira']}} <br />
<b>Forma de pagamento (produto): </b> {{transacao['produto']}} <br />
<b>Número de parcelas (parcelas): </b> {{transacao['parcelas']}} <br />
<b>Status do pedido (status): </b> {{transacao['status']}} <br />
<b>URL para autenticação (url-autenticacao): </b> <a href="{{transacao['url']}}" target="_blank">{{transacao['url']}}</a><br />

{% if transacao['autorizacao'] %}
<h1>Autorização</h1>
<b>Código da autorização (codigo): </b> {{transacao['codigo_autorizacao']}} <br />
<b>Mensagem da autorização (mensagem): </b> {{transacao['mensagem_autorizacao']}} <br />
<b>Data e hora da autorização (data-hora): </b> {{transacao['data_hora_autorizacao']}} <br />
<b>Valor da autorização (valor): </b> {{transacao['valor_autorizacao']}} <br />
<b>LR da autorização (LR): </b> {{transacao['lr_autorizacao']}} <br />
<b>ARP da autorização (ARP): </b> {{transacao['arp_autorizacao']}} <br />
{% endif %}

{% else %}
<b>Erro: </b> {{transacao['codigo_erro']}} <br />
<b>Mensagem: </b> {{transacao['mensagem_erro']}} <br />
{% endif %}

{% endblock content_body %}